body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #e5e2d9;
}

hr {
    width: 10vw;
}

#main_header {
    position: absolute;
    top: 0;
    color: #686763;
    background-color: #f5f4ef;
    text-align: center;
    width: 100vw;
}

.paragraph {
    background-color: #f5f4ef;
     width: min(80vw, 50em);
     display: grid;
     border-radius: 10px;
    font-size: 1.4em;
    grid-template-columns: 6em auto;
     padding: 10px;
    margin: auto;
    margin-bottom: 1em;

    left: 50%;
    /*margin-left: min(10vw, calc(100vw - (50em / 2)));*/
 }
.content_container, .icon_container {
    text-align: center;
    padding: 0.6em;

}

.content_container {
    text-align: left;
    background-color: white;
    border-radius: 10px;
    visibility: visible;

}



.icon_container {
    font-size: 30px;
    display: grid;
    padding: 0.3em 0 0.3em 0.3em;
    padding-left: 0.15em;
    grid-template-columns: 1.8em 0.3em 1.8em;
    grid-template-rows: 1.8em 0.3em 1.8em 0.3em 1.8em auto;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
}

.paragraph_button p {
    margin: 0;
    text-align: center;
    font-size: 1.4em;

}

.paragraph_button {
    width: 1.8em;
    height: 1.8em;
    /*margin-bottom: 0.5em;
    margin-right: 0.5em;*/
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: rosybrown;
    border-radius: 0.4em;
}

.not_sel_para {
    visibility: hidden;
    padding: 0;
}



.not_sel_para .icon_container {
    height: 0;
}

.not_sel_para .content_container {
    background-color: whitesmoke;
}


.invisible_para {
    height: 155px;
    margin: auto;;
    margin-bottom: 1.5em;
}

/*
https://www.codingnepalweb.com/free-sidebar-menu-templates/
https://www.codingnepalweb.com/free-sidebar-menu-templates/
https://quilljs.com/playground/snow
*/